[mysql]
user=root
password=nathan
host=localhost
dbname=politics
[facebook]
access_token=CAACEdEose0cBAPDszLEYncRUxuTQLIWk1dWqjxyyZBtuOh9DIvBOhq7wvqpSxT4BeSGQyQfrhgbL0FZBlKWhamM7NWTpmwqZCaZBtUDbbZCPjGupOPJXryQZAcnNEah3uvYh4zKnF5yJJZBNyhSNTixjWQjp0PrzWvCBkXvtsL3T9jZCLNoyoG3FQZCoqoXNTl6kZD
# Page ID. Must be numeric ID, not string.
# You can get a page id by going to 
# http://grapddh.facebook.com/<name of page>
page_id= 259659740767219
[script]
# Number of requests per 600 seconds. Maximum
# number allowed by Facebook is 600.
requests_limit=550
# Logging.
#
[loggers]
keys=root
[handlers]
keys=console
[formatters]
keys=verbose
# Root logger configuration.
[logger_root]
handlers=console
level=DEBUG
[handler_console]
class=StreamHandler
level=DEBUG
formatter=verbose
args=(sys.stdout,)
[formatter_verbose]
format=F1 %(asctime)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter
